.location {

    .row {
        height: 408px;

        .image-location {
            height: 408px;
        }
    }

    .container {
        width: 270px;

        .venue {
            width: 100%;
            background-position-x: center;
            background-position-y: -19px;

            .wrap {
                height: 356px;

                .pin {
                    margin-bottom: 34px;
                }

                h3 {
                    margin-bottom: 32px;
                    font-size: 24px;
                    line-height: 28.8px;
                }

                p {

                    &:last-of-type {
                        margin-bottom: 16px;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }

                .ignore-t {
                    display: none;
                }

                .ignore-d {
                    margin-bottom: 26px;
                    padding-bottom: 14px;
                    border-bottom: 1px solid color(11);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    font-weight: 100;
                    line-height: 20px;
                }
            }
        }
    }
}
