.location {

    .container {
        width: 692px;

        .venue {
            width: 345px;

            .wrap {
                position: absolute;
                left: 122px;
                height: 324px;

                h3 {
                    margin-bottom: 38px;
                }

                .ignore-t {
                    display: none;
                }

                .ignore-d {
                    margin-bottom: 21px;
                    padding-bottom: 19px;
                    border-bottom: 1px solid $color-11;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    font-weight: 100;
                    line-height: 20px;
                }
            }
        }
    }
}