
footer {
    display: flex;
    justify-content: center;
    height: 160px;
    background: color(4);
    font-family: 'Montserrat', sans-serif;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 1287px;
        height: 100%;
        margin: auto;

        .text-wrap {
            display: flex;
            width: 931px;
            font-size: 14px;

            h3 {
                color: color(5);
                font-size: 18px;
                font-weight: 700;

                &::first-letter {
                    position: relative;
                    margin-right: 8px;
                    padding: 3px 7px;
                    float: left;
                    border: 3px solid color(5);
                    font-size: 30px;
                }
            }

            p {
                margin-left: 270px;
                color: color(12);
                line-height: 16.8px;
            }
        }

        a {
            position: fixed;
            right: 0;
            bottom: 0;

            .image-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 37px;
                height: 36px;
                border: 1px solid color(11);
            }
        }
    }
}
