$color-1: #EEEEEE;
$color-2: #ED1C24;
$color-3: #DBDBDB;
$color-4: #111111;
$color-5: #FFFFFF;
$color-6: rgba(255, 255, 255, .5);
$color-7: rgba(112, 112, 112, .2);
$color-8: #898989;
$color-9: #222222;
$color-10: #FEFEFE;

footer {
    display: flex;
    justify-content: center;
    height: 160px;
    background: $color-4;
    font-family: 'Montserrat', sans-serif;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 1287px;
        height: 100%;
        margin: auto;

        .text-wrap {
            display: flex;
            font-size: 14px;

            h3 {
                color: $color-5;
                font-size: 18px;
                font-weight: 700;

                &::first-letter {
                    position: relative;
                    margin-right: 8px;
                    padding: 3px 7px;
                    float: left;
                    border: 3px solid $color-5;
                    font-size: 30px;
                }
            }

            p {
                margin-left: 270px;
                color: $color-10;
                line-height: 16.8px;
            }
        }

        .image-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 37px;
            height: 36px;
            border: 1px solid $color-11;
        }
    }
}
