footer {
    height: 168px;

    .container {
        justify-content: space-between;
        width: 270px;
        height: 100%;

        .text-wrap {
            flex-direction: column;

            h3 {
                margin: 1px 6px 28px 0;
                padding: 0;
                font-size: 15.81px;
                letter-spacing: .1px;

                &::first-letter {
                    margin-right: 5px;
                    font-size: 29px;
                }
            }

            p {
                position: relative;
                bottom: 14px;
                margin-left: 0;
                font-size: 12px;
                letter-spacing: .1px;
                line-height: normal;
            }
        }

        a {
            right: 26px;
            bottom: 104px;
        }
    }
}
