
.overview {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 520px;
    overflow: hidden;
    background: color(3);
    color: color(9);

    .container {
        display: flex;
        width: 1000px;
        height: 100%;

        .overview-image {
            content: url(/images/overview/https.jpg);
            z-index: 2;
        }

        .big-wrap {
            position: relative;
            z-index: 2;
            width: 650px;
            padding-top: 38px;
            padding-left: 47px;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 500%;
                height: 108%;
                background-color: color(5);
            }

            .small-wrap {

                h2 {
                    margin-bottom: 40px;
                    color: color(9);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 36px;
                }

                .text-wrap-1 {
                    display: grid;
                    grid-column-gap: 30px;
                    grid-row-gap: 40px;
                    grid-template-columns: 1.05fr 1.2fr;
                    grid-template-rows: 85px 70px 50px;
                    width: 600px;
                    font-family: 'Open Sans', sans-serif;

                    .col {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 100;
                        line-height: 18px;
                    }

                    .col-1 {
                        grid-column: span 1;
                        margin-top: -5px;
                        line-height: 20px;
                    }

                    .col-12 {
                        margin-top: -5px;
                        margin-left: -2px;
                    }

                    .col-2 {
                        grid-column: span 2;

                        &:first-of-type {
                            font-size: 20px;
                            font-weight: 100;
                            line-height: 30px;

                            .dt {
                                padding-bottom: 2px;
                                border-bottom: 1px solid color(3);
                            }
                        }

                        &:last-of-type {
                            width: 90%;
                            margin-top: -6px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
