.overview {
    height: 600px;

    .container {
        display: flex;
        position: relative;
        justify-content: center;
        background: color(5);
        text-align: center;

        .overview-image {
            display: none;
        }

        .big-wrap {
            position: absolute;
            width: 270px;
            padding: 0;

            ::before {
                display: none;
            }

            .small-wrap {
                margin-top: 33px;

                h2 {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 24px;
                }

                .text-wrap-1 {
                    grid-column-gap: 30px;
                    grid-row-gap: 25px;
                    grid-template-columns: 1fr;
                    grid-template-rows: 150px 75px 70px 95px;
                    width: 270.5px;

                    .col-2 {
                        grid-column: span 1;

                        &:first-of-type {
                            font-size: 18px;
                        }

                        &:last-of-type {
                            width: 100%;
                            margin-top: -14px;
                        }
                    }

                    .col-12 {
                        margin-top: -9px;
                        line-height: 18px;

                        br {
                            display: none;
                        }
                    }

                    .col-1 {
                        margin-top: -3px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
