
.overview {
    height: 470px;

    .container {
        display: flex;
        position: relative;
        justify-content: center;
        background: color(5);

        .overview-image {
            display: none;
        }

        .big-wrap {
            position: absolute;
            width: 690px;
            padding-top: 37px;
            padding-left: 50px;

            &::before {
                display: none;
            }

            .small-wrap {
                width: 1000px;

                .text-wrap-1 {

                    .col-2 {

                        &:last-of-type {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
