$color-1: #EEEEEE;
$color-2: #ED1C24;
$color-3: #DBDBDB;
$color-4: #111111;
$color-5: #FFFFFF;
$color-6: rgba(255, 255, 255, .5);
$color-7: rgba(112, 112, 112, .2);

.header {

    .row-1 {
        height: 425px;

        .container {
            width: 270px;

            .preview {
                width: 120%;
                height: 100%;
                padding-top: 25px;
                padding-left: 40px;

                .top-wrap {
                    

                    h3 {
                        margin-bottom: 50px;
                        font-size: 14.45px;
                        line-height: 72.24px;

                        &::first-letter {
                            padding: 6px 9px;
                            font-size: 25px;
                        }
                    }

                    p {

                        &:first-of-type {
                            margin-bottom: 15px;

                        }
                    }

                }
            }

            .menu-wrap {
                display: inline-block;
                position: absolute;
                top: 15px;
                transform: translate(329%);

                .menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 63px;
                    height: 59px;
                    padding: 18px;
                    background-color: $color-4;

                    img {
                        width: 27.07px;
                        height: 26.1px;
                    }
                }
            }
        }
    }

    .row-2 {
        height: 60px;
        background: $color-4;

        .container {

            .link-wrap {
                display: none;
            }
        }
    }
}
