
.header {

    .row-1 {
        height: 425px;

        .container {
            width: 270px;

            .preview {
                position: relative;
                width: 120%;
                height: 100%;
                padding-top: 0;
                padding-left: 30px;

                .top-wrap {

                    h3 {
                        margin-bottom: 30px;
                        font-size: 14.45px;
                        line-height: 66.24px;

                        &::first-letter {
                            padding: 2px 6px;
                            font-size: 25px;
                        }
                    }

                    p {

                        &:first-of-type {
                            margin-bottom: 15px;
                        }
                    }
                }

                .icon-wrap {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    margin-left: 38px;
                    border-top: 1px solid color(6);
                    border-right: 1px solid color(6);
                    border-left: 1px solid color(6);
                    background: transparent;

                    .eye {
                        content: url(/images/header/eye.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 13px 11px;
                        border-right: 1px solid color(6);
                    }

                    .photo {
                        content: url(/images/header/image.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 11px;
                        border-right: 1px solid color(6);
                    }

                    .location {
                        content: url(/images/header/marker.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 13px;
                    }
                }
            }

            .menu-wrap {
                display: inline-block;
                position: absolute;
                top: 15px;
                transform: translate(329%);

                .menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 63px;
                    height: 59px;
                    padding: 18px;
                    background-color: color(4);

                    img {
                        width: 27.07px;
                        height: 26.1px;
                    }
                }
            }
        }
    }

    .row-2 {
        height: 60px;
        background: color(4);

        .container {

            .link-wrap {
                display: none;
            }
        }
    }
}
