
.header {

    .row-1 {
        height: 425px;

        .image-header {
            height: 425px;
        }

        .container {
            width: 270px;

            .preview {
                position: relative;
                width: 120%;
                height: 100%;
                padding-top: 0;
                padding-left: 29px;

                .top-wrap {
                    margin-left: 5px;

                    h3 {
                        margin-top: 23px;
                        margin-bottom: 67px;
                        margin-left: -8px;
                        font-size: 14.45px;
                        line-height: 30.24px;

                        &::first-letter {
                            margin-top: 2px;
                            margin-right: 6px;
                            padding: 1px 6px 1px 7px;
                            float: left;
                            font-size: 25px;
                        }
                    }

                    h5 {
                        margin-bottom: 6px;
                        padding: 0 9px;
                    }

                    h2 {

                    }

                    h1 {
                        letter-spacing: -.5px;
                        line-height: 20px;
                    }

                    p {

                        &:first-of-type {
                            margin-top: 19px;
                            margin-bottom: -17px;
                            margin-left: 1px;
                            padding: 17px 0 20px 0;
                            letter-spacing: -1px;

                            &::before {
                                position: absolute;
                                top: 210px;
                                width: 204px;
                            }

                            &::after {
                                position: absolute;
                                top: 286px;
                                width: 204px;
                            }
                        }

                        &:last-of-type {
                            font-size: 16px;

                            &::before {
                                margin-right: 7px;
                                margin-left: 0;
                            }
                        }
                    }
                }

                .icon-wrap {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    margin-left: 38px;
                    border-top: 1px solid color(6);
                    border-right: 1px solid color(6);
                    border-left: 1px solid color(6);
                    background: transparent;

                    .eye {
                        content: url(/images/header/eye.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 13px 11px;
                        border-right: 1px solid color(6);
                    }

                    .photo {
                        content: url(/images/header/image.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 11px;
                        border-right: 1px solid color(6);
                    }

                    .location {
                        content: url(/images/header/marker.png);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 13px;
                    }
                }
            }

            .menu-wrap {
                display: inline-block;
                position: absolute;
                top: 15px;
                transform: translate(329%);

                .menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 63px;
                    height: 59px;
                    padding: 18px;
                    background-color: color(4);

                    img {
                        width: 27.07px;
                        height: 26.1px;
                    }
                }
            }
        }
    }

    .row-2 {
        height: 60px;
        background: color(4);

        .container {

            .link-wrap {
                display: none;
            }
        }
    }
}
