.top-wrap {
    margin-left: 30px;
    background: inherit;

    h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 90px;

        &::first-letter {
            content: '';
            display: inline-block;
            margin-right: 9px;
            padding: 9px 11px;
            border: 3px solid $color-5;
            background: transparent;
            font-size: 30px;

        }
    }

    h5 {
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
    }

    h2 {
        font-size: 22px;
        line-height: 26px;
    }

    h1 {
        font-size: 26px;
        line-height: 26px;
    }

    p {

        &:first-child {
            border-top: 1px solid $color-5;
            border-bottom: 1px solid $color-5;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 100;
            line-height: 20px;
        }

        &:last-child {
            font-size: 18px;
            line-height: 90px;

            &::before {

            }
        }
    }
}